/** Footer **/
footer{
    background-color: #272c30;
    min-height: 200px; 
    color: white; 
    padding: 10px; 
    display: block;
} 
footer .foot1{  
    display: flex; 
} 
footer .foot1 div{  
    width: 100%; 
    background-color: #24282a;
    min-height: 100px; 
    margin-left:10px; 
    padding: 2px; 
    border-radius: 20px; 
} 
footer .footmain{
    padding: 20px; 
    font-size: 20px; 
    font-weight: bold;
    text-transform: capitalize;
    text-align: center; 
    background-color: #1e2022; 
    border-radius: 20px;
}
footer .footmain::first-letter{
    color: #82eb55;
} 
footer .footmain::before{
    content: "©";
} 

